<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Sample test Suite">
   <test name = "Sample test">
      <classes>
         <class name = "com.training.assignment1stWeek.tests.UpdateProfileDetailsTest" />
         <class name = "com.training.assignment1stWeek.tests.ChangePasswordTest" />
         <class name = "com.training.assignment1stWeek.tests.LogoutTest" />
      </classes>
   </test>
</suite>	